.container {
  margin-block: 20vh;
}

.head_wrapper {
  display: flex;
  flex-direction: column;
  padding-bottom: 5rem;
  gap: 1rem;
}

.head_wrapper div > input {
  background-color: var(--secondary-color);
  border: none;
  height: 5.5rem;
  display: block;
  width: 100%;
  border-radius: 1rem;
  padding-inline: 1.5rem;
  color: var(--primary-color);
  outline: none;
  margin-top: 3rem;
  font-size: 1.5rem;
}

.head_wrapper > h2 {
  font-size: clamp(2.5rem, 5vw, 4rem);
  color: var(--primary-color);
  text-transform: uppercase;
  text-align: center;
}

.stat_card_wrapper {
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 27rem), 1fr));
  margin-bottom: 5rem;
}
